[Unit]
Description=Jinshu Cognitive Graph-Vector Database Server Engine
After=network.target

[Service]
Type=simple

# Répertoire de travail temporaire pour l'exécution
WorkingDirectory=/tmp
# Appel du nouvel exécutable officiel
ExecStart=jinshu serve
# Redémarrage automatique si le serveur crash
Restart=on-failure
RestartSec=3s

# Force la sortie standard directement dans le journal pour journalctl
StandardOutput=journal
StandardError=journal
LoadCredential=master_seed:/etc/jinshu/seed.txt
[Install]
WantedBy=default.target
